@import './partials/utils'
@import './partials/colors'
@import './partials/typography'

*
*:before
*:after
  box-sizing border-box

html
  background $blue

body
  margin 0
  padding 0
  font-family $main-font
  font-weight 16px

.title
  color $white
  font-size 2em
  font-weight bold
  text-align center

.form
  margin 0 auto
  max-width 475px
  width 100%

.form-group
  margin 0 auto
  padding .75em

.format-lbl
.names-lbl
.initials-lbl
  color $white
  font-size 1.4em

#format
#names
#initials
  input()

#format
  width 100%

#names
  height 275px
  font-family $main-font
  font-size 1.2em

.submit-btn
  input()
  background-color $white
  color $blue
  cursor pointer
  display block
  margin 1em auto
  padding .5em 1em
  position relative
  width auto

  &:before
    box-shadow 0 2px 3px $shadow-medium
    content ''
    display block
    left 0
    height 100%
    opacity 0
    position absolute
    top 0
    width 100%

  &:hover:before
    opacity 1

  &:active
    transform scale(.95)
